<div id="loginBlock" *ngIf="(!isLoggedIn)">
  Enter Name:<br />
  <input id="userName" type="text" name="userName" [(ngModel)]="userName" />
  <input id="loginBtn" type="button" value="Enter" (click)="login()" />
</div><br />

<div id="gamerRoomsBlock" *ngIf="(isLoggedIn && !insideRoom)">
  <h2>Rooms list</h2>
  <div id="roomsList">
    <table style="border: 1px solid;">
      <th style="border: 1px solid;">Id</th>
      <th style="border: 1px solid;">Host</th>
      <th style="border: 1px solid;">Is open</th>
      <th style="border: 1px solid;"></th>
      <tr *ngFor="let item of gameRooms">
        <td style="border: 1px solid;">Id: {{item.id}}</td>
        <td style="border: 1px solid;">Host: {{item.host.id}} {{item.host.name}}</td>
        <td style="border: 1px solid;">Is open: {{item.isOpen}}</td>
        <td style="border: 1px solid;"><button (click)="enterRoom(item.id)">Enter</button></td>
      </tr>
    </table>
  </div>
  <br>
  <br>
  <button (click)="createRoom()">Create</button>
  <button (click)="loadRooms()">Refresh</button>
  <br>
  <br>
  <br>
  <span style="color: red;">{{errorMessage}}</span>
</div>
<div id="gameRoom" *ngIf="(insideRoom)">
  <h2>Room ID: {{roomId}}</h2>
  <div style="white-space: pre-line;">
    <span>Message log:</span>
    {{messageLog}}
  </div>
  <button (click)="exitRoom()">Exit</button>
</div>
